@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --bg-color: #4e4e4e;
    --bg-color-dark: #2e2e2e;
    --bg-color-light: #7e7e7e;
    --primary-color: #06aed5;
    --secondary-color: #f0c808;
    --text-color: #ecf39e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}
#main-header {
    background: var(--bg-color-dark);
    margin-bottom: .25rem;
}
#container {
    max-width: 40rem;
    min-height: 75vh;
    margin: 0 auto;
    padding: 2rem;
    background: var(--bg-color-dark);
}

h1, h2 {
    color: var(--secondary-color);
    text-align: center;
    font-weight: 700;
    padding: 1.25rem 0;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

p {
    padding: .5rem 0;
}

.form {
    width: 100%;
    margin-top: 2rem;
}

#main-footer {
    text-align: center;
    font-weight: 300;
    padding: 1.25rem;
    margin-top: .25rem;
    background: var(--bg-color-dark);
}

#main-footer span {
    color: var(--primary-color);
    font-weight: 400;
}